/* Add screen styles below */
a.active {
    font-weight: bold;
}

article{
  max-width: 800px;
  margin: 0 auto;
}

img{
  width: 400px;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  color: #000F08;
}

